
ul.product_list .availability span {
    display: inline-block;
    color: white;
    font-weight: bold;
    padding: 3px 8px 4px 8px;
    margin-bottom: 20px; }
ul.product_list .availability span.available-now {
    background: #46a74e;
    border: 1px solid #36943e; }
ul.product_list .availability span.out-of-stock {
    background: #ff7430;
    border: 1px solid #ea5e1a; }
ul.product_list .color-list-container {
    margin-bottom: 12px; }
ul.product_list .color-list-container ul li {
    display: inline-block;
    border: 1px solid #d6d4d4; }
ul.product_list .color-list-container ul li a {
    display: block;
    width: 23px;
    height: 23px;
    margin: 1px; }
ul.product_list .product-image-container {
    text-align: center; }
ul.product_list .product-image-container img {
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto; }
ul.product_list .product-image-container .quick-view {
    font: 700 13px/16px Arial, Helvetica, sans-serif;
    color: #777676;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -21px 0 0 -53px;
    padding: 13px 0 0;
    background: rgba(255, 255, 255, 0.82);
    width: 107px;
    height: 55px;
    text-align: center;
    -moz-box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px; }
@media (min-width: 1200px) {
    ul.product_list .product-image-container .quick-view {
        display: none; } }
@media (max-width: 767px) {
    ul.product_list .product-image-container .quick-view {
        display: none; } }
ul.product_list .comments_note {
    text-align: center;
    overflow: hidden;
    padding-bottom: 10px;
    line-height: 17px; }
ul.product_list .comments_note .nb-comments {
    overflow: hidden;
    font-style: italic;
    display: inline-block; }
ul.product_list .functional-buttons div a,
ul.product_list .functional-buttons div label {
    font-weight: bold;
    color: #31353d;
    cursor: pointer; }
ul.product_list .functional-buttons div a:hover,
ul.product_list .functional-buttons div label:hover {
    color: #3498db; }
ul.product_list .functional-buttons div.wishlist {
    border-right: 1px solid #d6d4d4; }
ul.product_list .functional-buttons div.wishlist a:before {
    display: inline-block;
    font-family: "FontAwesome";
    content: "\f08a";
    margin-right: 3px;
    padding: 0 3px; }
ul.product_list .functional-buttons div.wishlist a.checked:before {
    content: "\f004"; }
@media (min-width: 992px) and (max-width: 1199px) {
    ul.product_list .functional-buttons div.wishlist {
        border-right: 0; }
    ul.product_list .functional-buttons div.wishlist a:before {
        display: none; } }
@media (min-width: 480px) and (max-width: 767px) {
    ul.product_list .functional-buttons div.wishlist {
        border-right: 0; }
    ul.product_list .functional-buttons div.wishlist a:before {
        display: none; } }
ul.product_list .functional-buttons div.compare a:before {
    content: "\f067";
    display: inline-block;
    font-family: "FontAwesome";
    margin-right: 3px; }
@media (min-width: 992px) and (max-width: 1199px) {
    ul.product_list .functional-buttons div.compare a:before {
        display: none; } }
@media (min-width: 480px) and (max-width: 767px) {
    ul.product_list .functional-buttons div.compare a:before {
        display: none; } }
ul.product_list .functional-buttons div.compare a.checked:before {
    content: "\f068"; }

/*******************************************************
Product list(Grid) Styles 
********************************************************/
ul.product_list.grid > li {
    padding-bottom: 20px;
    text-align: left; }
@media (min-width: 480px) and (max-width: 767px) {
    ul.product_list.grid > li {
        width: 50%;
        float: left; } }
ul.product_list.grid > li .product-container {
    background: white;
    padding: 0;
    position: relative; }
ul.product_list.grid > li .product-container .left-block {
    border: 1px solid  #cacaca;
    /*background: #f4f4f4;*/
    position: relative; }
ul.product_list.grid > li .product-container .product-image-container {
    margin-bottom: 1px; }
ul.product_list.grid > li .product-container .product-image-container a.product_img_link{
    line-height: 270px;
    display: block;
    height: 270px;}
@media (min-width: 992px) and (max-width: 1199px) {
    ul.product_list.grid > li .product-container .product-image-container a.product_img_link{
        line-height: 210px;
        height: 210px;}
}
@media (min-width: 768px) and (max-width: 991px) {
    ul.product_list.grid > li .product-container .product-image-container a.product_img_link{
        line-height: 250px;
        height: 250px;}
}
@media (max-width: 767px) {
    ul.product_list.grid > li .product-container .product-image-container {
        max-width: 290px;
        margin-left: auto;
        margin-right: auto; } 
}
ul.product_list.grid > li .product-container .product-image-container .content_price {
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    background: url("./img/price-container-bg.png");
    padding: 9px 0;
    display: none; }
ul.product_list.grid > li .product-container .product-image-container .content_price span {
    color: white; }
ul.product_list.grid > li .product-container .product-image-container .content_price span.old-price {
    color: #b1b0b0; }
ul.product_list.grid > li .product-container h5 {
    padding: 0 15px 0 0;
    text-transform: uppercase;
    min-height: 47px; }
ul.product_list.grid > li .product-container h5 a span.list-name {
    display: none; }
ul.product_list.grid > li .product-container h5 a:hover {
    color: #3498db; }
ul.product_list.grid > li .product-container .comments_note {
    display: none; }
ul.product_list.grid > li .product-container .product-desc span.list-desc {
    display: none; }
ul.product_list.grid > li .product-container .content_price {
    padding-bottom: 9px;
    line-height: 21px; }
ul.product_list.grid > li .product-container .old-price,
ul.product_list.grid > li .product-container .price,
ul.product_list.grid > li .product-container .price-percent-reduction {
    display: inline-block; }
ul.product_list.grid > li .product-container .product-flags {
    display: none; }
ul.product_list.grid > li .product-container .old-price {
    margin-right: 5px; }
ul.product_list.grid > li .product-container .button-container{
    position: absolute;
    right:0px;
}
ul.product_list.grid > li .product-container .button-container a:hover {
    background: #31353d; }
ul.product_list.grid > li .product-container .availability{
    margin-top: 13px;
    display: block;
}
ul.product_list.grid > li .product-container .button-container .lnk_view {
    display: none; }
ul.product_list.grid > li .product-container .right-block {
    padding-right: 10px;
    position: relative; }
ul.product_list.grid > li .product-container .functional-buttons {
    padding: 5px 0; }
ul.product_list.grid > li .product-container .functional-buttons div {
    width: 50%;
    float: left;
    padding: 3px 5px 4px 8px; }
@media (min-width: 1200px) {
    ul.product_list.grid > li.hovered .product-container .product-image-container .quick-view {
        display: block; } }
@media (min-width: 992px) {
    ul.product_list.grid > li.first-in-line {
        clear: left; } }
@media (min-width: 480px) and (max-width: 991px) {
    ul.product_list.grid > li.first-item-of-tablet-line {
        clear: left; } }

/*******************************************************
Product list(List) Styles 
********************************************************/
@media (max-width: 479px) {
    ul.product_list.list > li .left-block {
        width: 100%; } }
ul.product_list.list > li .product-container {
    border-top: 1px solid #d6d4d4;
    padding: 30px 0 30px; }
ul.product_list.list > li .product-image-container {
    position: relative;
    border: 1px solid #d6d4d4;
    padding: 9px;
    position: relative;
    background: white; }
@media (max-width: 479px) {
    ul.product_list.list > li .product-image-container {
        max-width: 290px;
        margin: 0 auto; } }
ul.product_list.list > li .product-image-container .content_price {
    display: none !important; }
ul.product_list.list > li .product-flags {
    color: #bababa;
    margin: -5px 0 10px 0; }
ul.product_list.list > li .product-flags .discount {
    color: #f13340; }
ul.product_list.list > li h5 {
    padding-bottom: 8px; }
ul.product_list.list > li h5 a span.grid-name {
    display: none; }
ul.product_list.list > li .product-desc {
    margin-bottom: 15px; }
ul.product_list.list > li .product-desc span.grid-desc {
    display: none; }
@media (max-width: 479px) {
    ul.product_list.list > li .center-block {
        width: 100%; } }
ul.product_list.list > li .center-block .comments_note {
    margin-bottom: 12px; }
@media only screen and (min-width: 480px) {
    ul.product_list.list > li .center-block .comments_note {
        text-align: left; } }
ul.product_list.list > li .center-block .comments_note .star_content {
    display: inline-block; }
@media (min-width: 992px) {
    ul.product_list.list > li .right-block .right-block-content {
        margin: 0;
        border-left: 1px solid #d6d4d4;
        padding-left: 15px;
        padding-bottom: 16px; } }
@media (max-width: 991px) {
    ul.product_list.list > li .right-block .right-block-content {
        padding-top: 20px; } }
@media (max-width: 479px) {
    ul.product_list.list > li .right-block .right-block-content {
        padding-top: 5px; } }
ul.product_list.list > li .right-block .right-block-content .content_price {
    padding-bottom: 10px; }
@media (max-width: 991px) {
    ul.product_list.list > li .right-block .right-block-content .content_price {
        padding-top: 13px;
        padding-bottom: 0; } }
@media (max-width: 479px) {
    ul.product_list.list > li .right-block .right-block-content .content_price {
        padding-top: 0;
        width: 100%; } }
ul.product_list.list > li .right-block .right-block-content .content_price span {
    display: inline-block;
    margin-top: -4px;
    margin-bottom: 14px; }
ul.product_list.list > li .right-block .right-block-content .content_price span.old-price {
    margin-right: 8px; }
ul.product_list.list > li .right-block .right-block-content .button-container {
    overflow: hidden;
    padding-bottom: 20px; }
@media (max-width: 479px) {
    ul.product_list.list > li .right-block .right-block-content .button-container {
        width: 100%; } }
ul.product_list.list > li .right-block .right-block-content .button-container .btn {
    margin-bottom: 10px; }
@media (min-width: 992px) {
    ul.product_list.list > li .right-block .right-block-content .button-container .btn {
        float: left;
        clear: both; } }
@media (min-width: 992px) {
    ul.product_list.list > li .right-block .right-block-content .functional-buttons {
        overflow: hidden; } }
@media (max-width: 991px) {
    ul.product_list.list > li .right-block .right-block-content .functional-buttons {
        clear: both; }
    ul.product_list.list > li .right-block .right-block-content .functional-buttons > div {
        float: left;
        padding-top: 0 !important;
        padding-right: 20px; } }
@media (max-width: 479px) {
    ul.product_list.list > li .right-block .right-block-content .functional-buttons {
        float: none;
        display: inline-block; }
    ul.product_list.list > li .right-block .right-block-content .functional-buttons a i, ul.product_list.list > li .right-block .right-block-content .functional-buttons a:before, ul.product_list.list > li .right-block .right-block-content .functional-buttons label i, ul.product_list.list > li .right-block .right-block-content .functional-buttons label:before {
        display: none !important; } }
ul.product_list.list > li .right-block .right-block-content .functional-buttons a {
    cursor: pointer; }
ul.product_list.list > li .right-block .right-block-content .functional-buttons .wishlist {
    border: none; }
ul.product_list.list > li .right-block .right-block-content .functional-buttons .compare {
    padding-top: 10px; }
ul.product_list.list > li .right-block .right-block-content .functional-buttons .compare a:before {
    margin-right: 10px; }
@media (min-width: 1200px) {
    ul.product_list.list > li:hover .product-image-container .quick-view {
        display: block; } }
@media (max-width: 479px) {
    ul.product_list.list > li {
        text-align: center; } }

/*******************************************************
Product list(Index page) Styles 
********************************************************/
#index ul.product_list.tab-pane > li {
    padding-bottom: 10px;
    margin-bottom: 30px; }
#index ul.product_list.tab-pane > li .availability {
    display: none; }
@media (min-width: 480px) and (max-width: 767px) {
    #index ul.product_list.tab-pane > li.first-item-of-tablet-line {
        clear: none; }
    #index ul.product_list.tab-pane > li.first-item-of-mobile-line {
        clear: left; } }

/***** IE code *****/
.ie8 .quick-view {
    background: #fff;
    border: 1px solid #d6d4d4; }


#enabled_filters {
    margin: 0 0 10px 0;
    background: #eee;
    padding: 5px; }

#enabled_filters .layered_subtitle {
    font-weight: bold;
    font-size: 12px; }

#enabled_filters ul li {
    padding: 2px 0; }

#enabled_filters li a {
    float: right;
    cursor: pointer; }

#layered_block_left .layered_close {
    float: right;
    padding-right: 5px; }

#layered_block_left span.layered_close a,
#layered_block_left span.layered_close a {
    display: block;
    height: 13px;
    width: 13px;
    text-decoration: none;
    text-indent: -5000px;
    background: url(img/icon/less.gif) no-repeat 2px 2px; }

#layered_block_left span.closed a {
    background: url(img/icon/more.gif) no-repeat 2px 2px; }

#layered_block_left .layered_subtitle {
    display: inline-block;
    color: #31353d;
    font-weight: bold;
    font-size: 12px; }

#layered_block_left ul {
    clear: both;
    padding: 5px 0; }

#layered_block_left ul li {
    padding: 3px 0; }

#layered_block_left ul li label {
    cursor: pointer;
    display: inline;
    margin: 0; }

#layered_block_left ul {
    padding-left: 0; }

#layered_block_left ul li {
    list-style-type: none; }

#layered_block_left div > form > div > div {
    margin-top: 5px; }
#layered_block_left .layered_subtitle_heading i{
    float: right;  
}

#layered_block_left #enabled_filters, #layered_url_filter_block {
    padding-bottom: 10px;
    margin-bottom: 5px;
    margin-top: 0px;
    border-bottom: 1px dotted #CCC; }

#layered_block_left #enabled_filters ul li {
    margin-left: 0;
    padding-left: 0; }

/* Style moved form the template to the css  */
#layered_block_left #enabled_filters ul li:hover {
    background: inherit;
    color: inherit; }

#layered_block_left ul li .disabled {
    color: #666; }

#layered_block_left .color-option {
    border: 1px solid #666666;
    height: 16px;
    margin-left: 0;
    padding: 0;
    width: 16px; }

#layered_block_left .color-option.disable {
    opacity: 0.5;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5; }

#layered_block_left .nomargin a {
    display: inline; }

#layered_form .select {
    width: 157px; }

#layered_form .color-option {
    margin-left: 0;
    width: 16px;
    height: 16px;
    padding: 0;
    border: 1px solid #666; }

#layered_form .color-option.on {
    border: 1px solid red; }

#layered_form input[type=radio] {
    margin-left: 2px;
    vertical-align: middle; }

.layered_slider_container {
    margin: 6px 0 6px 10px;
    width: 89%; }

#layered_form .form-group {
    margin-bottom: 5px; }

#layered_form .form-label {
    display: inline-block;
    margin-bottom: 5px; }

.layered_slider {
    margin-top: 5px; }

.layered_list_selected {
    font-weight: bold; }

.layered_list {
    display: block;
    cursor: pointer; }

.layered_list:hover {
    color: #515151; }

.layered_ajax_loader p {
    margin: 20px 0;
    text-align: center; }

.hide-action {
    text-align: center;
    text-align: right;
    display: block;
    cursor: pointer; }

.hide-action:hover {
    font-weight: bold; }

#layered_form div div ul {
    max-height: 200px;
    overflow-x: auto; }

.layered_filter {
    border-bottom: 1px solid #eee; }
.layered_filter label {
    font-weight: normal; }
.layered_filter layered_subtitle {
    font-size: 1.2 em; }

#layered_block_left .title_block:after {
    display: none; }




/* Product info and lists */

ul.skus { padding-left: 0; }
ul.skus li { list-style: none; }

.stocks { margin-top: 10px; margin-bottom: 15px; font-size: 0.9em; }
.stocks .stock-critical { color: #e00; }
.stocks .stock-low { color: #a80; }
.stocks .stock-high { color: #0a0; }
.stocks .stock-none { color: #aaa; }
.stocks .icon16 { margin-top: 0.05em; }

ul.menu-h.sorting { margin-left: 0; }
ul.menu-h.sorting li { padding-right: 5px; }

i.sort-desc { height: 0; width: 0; border: 4px solid transparent; border-bottom-color: #000; margin-bottom: 0.2em; display: inline-block; display: block\9; float: left\9; }
i.sort-asc { height: 0; width: 0; border: 4px solid transparent; border-top-color: #000; margin-top: 0; display: inline-block; display: block\9; float: left\9; }



.out-of-stock { color: #a77; }
.disabled { color: #777; }
.description { margin-bottom: 20px; }
.error { color: #a33; }

.rating i.icon16 { margin-right: 0.13em; }
h1 .rating i.icon16 { margin-top: 0.37em; }


.related table.table { margin-top: 10px; }
.related table.table td { padding: 10px 7px 15px; border: none; }
.related h3 input { font-size: 14px; }





ul.thumbs .badge { font-size: 1.05em; width: 70px; height: 70px; padding: 2px; }
ul.thumbs .badge span { width: 68px; margin-top: 28px; overflow: hidden; padding-top: 0px; }
table.table { margin: 20px 0; }
table.table .image { margin-right: 10px; width: 48px; }
table.table .badge { font-size: 0.8em; width: 24px; height: 24px; padding: 3px 3px 4px; border: 0; }
table.table .badge span { display: block; width: 20px; overflow: hidden; padding-top: 6px; padding-left: 3px; }


/* Checkout */


.checkout ul.checkout-options { padding-left: 25px; }
.checkout ul.checkout-options li { list-style: none; position: relative; margin-bottom: 50px; clear: both; }
.checkout ul.checkout-options li h3 { font-weight: bold; margin-bottom: 10px; }
.checkout ul.checkout-options li h3 label { margin-right: 10px; }
.checkout ul.checkout-options li .rate { float: right; text-align: center; width: 250px; }
.checkout ul.checkout-options li p { width: 70%; }

.checkout ul.checkout-options li img.method-logo { position: relative; float: left; margin-right: 10px; top: -6px; left: 0px; /* adjusted for default 60x32-px logos */ }
.checkout ul.checkout-options li .wa-form { margin-top: 0px; margin-bottom: 30px; }
.checkout ul.checkout-options li .wa-form label input[type="radio"] { position: static; }

.checkout .checkout-result { padding: 80px 0 60px;text-align: center; }
.checkout .checkout-result h1 { font-size: 4em; margin-bottom: 50px; }
.checkout .checkout-result.error h1 { color: red; }
.checkout .checkout-result .wa-form { margin: 10px auto 20px; width: 400px; float: none; text-align: left; }
.checkout .checkout-result .back { margin-top: 50px; }

.checkout .comment { width: 100%; height: 100px; margin-bottom: 20px; }
.checkout blockquote img { margin-right: 20px; float: left; }
.checkout blockquote p { margin-bottom: 10px; }
.checkout blockquote p span { color: #000; }

.checkout .errormsg.inline { display: inline; margin-left: 10px; }

/* Product reviews */

.write-review { margin: 30px 0 40px; }

.review { margin-bottom: 30px; }
.review .summary { font-size: 0.9em; color: #777; }
.review .summary h6 { color: #000; font-size: 1.1em; }
.review .summary a.username { color: #777; }
.review .summary a.username:hover { color: red; }
.review .summary a { display: inline; padding: 0; }
.review .summary .date { color:#aaa; }
.review p { margin-top: 5px; margin-bottom: 5px; line-height: 1.3em; }
.review .actions a { padding: 0 !important; }

.reviews { margin-bottom: 20px; }
.reviews ul { margin-left: 0; }
.reviews ul li ul { padding-left: 25px; }
.reviews ul li ul li .review h6 { color: #555; }
.reviews ul li .review-form { padding: 10px 30px; }
.reviews ul li .review-form textarea { min-height: 100px; }
.reviews ul.menu-h.auth-type { padding: 0 0 40px; margin-left: -5px; }
.reviews ul.menu-h.auth-type li { padding-right: 10px; }
.reviews ul.menu-h.auth-type li a { padding: 5px 6px; }
.reviews ul.menu-h.auth-type li a img { top: 0; }
.reviews textarea { height: 100px; min-height: 100px; width: 75%; margin-top: 0; }

.review-form { padding: 0; margin-bottom: 30px; }
.review-form h4 { margin: 0 0 20px; font-weight: normal; }
.review-form-fields p { margin: 0 0 10px; }
.review-form-fields p.review-field a { padding: 0; text-decoration: none; }
.review-form-fields label { width: 160px; display: block; clear: left; float: left; margin: 0 10px 0 0; color: #aaa;}
.review-form-fields input[type="text"] { width: 20em;}
.review-form textarea { min-width: 70%; min-height: 160px; }
.review-form .review-submit { padding:0 0 20px 170px;}
.review-form .userpic { width: 20px; height: 20px; float: left; margin-right: 5px; }
.review-form ul.menu-h.auth-type li a img { float: left; margin-right: 3px; position: relative; top: 2px; }
.review-form ul.menu-h.auth-type { padding-bottom: 20px; }
.review-form label { width: 160px; display: block; clear: left; float: left; margin: 0 10px 0 0; color: #AAA; }
.reviews span.rate { line-height: 1.3em; display: block; margin: 0.5em 0; }
.reviews span.rate a { text-decoration: none !important; }
.reviews span.rate .icon10 { background-repeat: no-repeat; background-image: url(../../../../wa-content/img/icon10.png); height: 10px; width: 10px; display: inline-block; text-indent: -9999px; }
.reviews span.rate .icon10.star { background-position: -60px -40px; }
.reviews span.rate .icon10.star-empty { background-position: -80px -40px; }

input.error, textarea.error { border: 2px solid red; }
.errormsg { color: red; margin-left: 170px; display: block; }

/* Customer account */

.order-status { padding: 2px 5px; color: #fff; }
h1 .order-status { font-size: 0.75em; margin-left: 10px; }

/* Shop-Script icons */

.icon16.star,
.icon16.star-full { background-image: url("img/icons.png"); background-position:-16px 0; }
.icon16.star-half { background-image: url("img/icons.png"); background-position:-32px 0; }
.icon16.star-empty { background-image: url("img/icons.png"); background-position:-48px 0; }
.icon16.star-hover { background-image: url("img/icons.png"); background-position:-64px 0; }
.icon10.star,
.icon10.star-full { background-image: url("img/icons.png"); background-position:0 -16px; }
.icon10.star-half { background-image: url("img/icons.png"); background-position:-10px -16px; }
.icon10.star-empty { background-image: url("img/icons.png"); background-position:-20px -16px; }
.icon16.remove { background-image: url("img/icons.png"); background-position:-96px 0; }
.icon16.saved { background-image: url("img/icons.png");  background-position:-112px 0; }
.icon16.stock-red { background-image: url("img/icons.png"); background-position:-128px 0; }
.icon16.stock-yellow { background-image: url("img/icons.png"); background-position:-144px 0; }
.icon16.stock-green { background-image: url("img/icons.png"); background-position:-160px 0; }
.icon16.stock-transparent { background-image: url("img/icons.png"); background-position:-176px 0; }
.icon16.loading { background-image: url("img/loading16.gif"); background-position:0 0; }

#review-rate{
    height: 12px;
    display: inline-block;
}
@media screen and (max-width: 760px) {
    .review-form-fields label { width: auto; float: none; }
    .review-form-fields input { width: 80%; }
    .review-form textarea { width: 100%; }
    .review-form .review-submit { padding-left: 0; }
    .review-form .wa-captcha img { margin-bottom: 10px; }
}
.zoomContainer{
    z-index: 999;
}
